body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
}